* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.top{
    border: 2px solid black;
    width: 100%;
    text-align: center;
}
.slide{
  position: relative;
  display: block;
  width: 60%;
  height: 1500px;
  overflow: hidden;
  
}


.slide>.a{
  display: block;
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  animation: slide 9s infinite;
}
.slide>.b{
  display: block;
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  animation-delay: 3s;
  animation: slide 9s infinite;
}
.slide>.c{
  display: block;
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  animation-delay: 6s;
  animation: slide 9s infinite;
}


@keyframes slide{
  0%{
    transform: translateX(0);
  }
  40%{
    transform: translateX(-100%);
  }
  80%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
  
}