* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
    border: 0;
}


/*Styling for Log in page*/

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myd{
    padding: 30px;
}

.log_in {
    margin-top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    width: 38%;
    height: 390px;
    border-radius: 5px;
    box-shadow: -1px 12px 12px;
    background-color: white;
    border-right: 0;
}

.email {
    margin-bottom: 15px;
    height: 35px;
    border-radius: 7px;
    width: 100%;
    min-width: 250px;
    background: white;
    color: black;
    border: 1px solid black;
    box-shadow: 0px 3px 6px rgb(30, 29, 27);
    padding: 0 10px;
    font-size: 14px;
}

.pwd {
    height: 35px;
    border-radius: 7px;
    width: 100%;
    min-width: 250px;
    background: white;
    color: black;
    border: 1px solid black;
    box-shadow: 0px 3px 6px rgb(30, 29, 27);
    padding: 0 10px;
    font-size: 14px;
}

.loginbtn {
    margin-top: 7px;
    margin-bottom: 10px;
    height: 38px;
    width: 100px;
    margin-left: -18px;
    border-radius: 5px;
    background-color: rgb(104, 24, 179);
    color: white;
    box-shadow: 4px 4px 6px rgb(30, 29, 27);
    transition: 0.2s;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}

.fb:hover {
    transform: scale(1.05);
}

.gg:hover {
    transform: scale(1.05);
}

.loginbtn:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(155, 93, 213);
}

.loginbtn:active {
    box-shadow: none;
    transform: translateX(5px);
}

.left {
    margin-top: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-left: 1px solid white;
    width: 35%;
    height: 390px;
    border-radius: 5px;
    box-shadow: -1px 12px 12px;
}

.fgt.pwd {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    width: 100%;
    border: 0;
    box-shadow: none;
    padding-left: 8px;
    padding-right: 8px;
}

.md {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*Style for sign up page*/

.sign_up {
    margin-top: 4%;
    display: block;
    align-items: center;
    border: 2px solid black;
    width: 70%;
    height: 490px;
    border-radius: 5px;
    box-shadow: -1px 12px 12px;
    background-color: white;
    border-right: 0;
    border: 2px solid black;
}

[ class^="fd"] {
    margin-left: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 2px 3px rgb(30, 29, 27);
    padding-left: 3px;
    height: 20px;
}

.fdFname {
    width: 20%;
}

.fdLname {
    width: 27vw;
}

[ class^="fd1"] {
    width: 90%;
}

.signupbtn {
    height: 35px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(104, 24, 179);
    color: white;
    box-shadow: 4px 4px 6px rgb(30, 29, 27);
    margin-top: 2%;
    margin-left: 35%;
    transition: 0.2s;
}

.signupbtn:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(155, 93, 213);
}

.signupbtn:active {
    box-shadow: none;
    transform: translateX(5px);
}

.logo1 {
    margin-bottom: 5%;
    margin-left: 35%;
    margin-top: 2%;
}


/*For small screens*/

@media (max-width: 768px) {
    .left {
        display: none;
    }
    .log_in {
        width: 90%;
    }
    .main {
        justify-content: center;
        align-items: center;
    }
    body {
        background: linear-gradient(rgb(15, 221, 214), rgb(11, 105, 177));
        height: 100%;
    }
    .log_in {
        margin-top: 70%;
    }
    .sign_up {
        width: 100%;
        margin-top: 30%;
    }
    .logo1 {
        margin-left: 30%;
    }
}